.sort {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20px;

  button {
    background-color: transparent;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    padding: 0;

    &.active {
      i {
        color: #306e9a;
      }
    }

    i {
      color: #7fc1ef;
    }
  }
}