.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

  width: 400px;
  min-height: 500px;
}

.formContainer input {
  padding: 7px;
  margin: 20px 0;
}

.btnBlock {
  display: flex;
  justify-content: center;
}
.btnBlock button {
  padding: 10px 20px;
}