.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  min-height: calc(100vh - 130px);
  margin: 0 auto;
  //background-color: #fff;
  @media screen and (max-width: 881px) {
    width: 100vw;
  }
}