@import '../../common/styles/saas/variables';

.authContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 400px;
  min-height: 550px;
  padding: 10px;
  background-color: $bgLightColor;

  .sectionTitle {
    font-size: larger;
  }

  .errorMsg {
    color: red;
    font-weight: bold;
  }

  .formContainer input {
    padding: 7px;
    margin: 5px 0 20px;
  }

  .btnBlock {
    display: flex;
    justify-content: center;

    button {
      padding: 10px 20px;
      font-size:16px;

      :disabled {
        opacity: 0.2;
      }
    }
  }

  .inputWithIcons {
    position: relative;
  }

  .eye {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("../../assets/icons/icons8-eye-24.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 30px;
  }

  .eye:hover {
    cursor: pointer;
  }

  //for disabling browser eye icon
  .form input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  .form input[type="password"]::-ms-reveal,
  .form input[type="password"]::-ms-clear {
    display: none;
  }

  .linksBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .link {
      display: inline-block;
      margin-bottom: 10px;
    }
  }

  .checkEmail {
    text-align: center;
    line-height: 25px;

    .userEmail {
      color: #128cd9;
    }
  }
}