.btnBlock {
  width:150px;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
span{
  margin-right: 10px;
  display: inline-block;
}
  button {
    padding: 5px 10px;
    font-size: inherit;
    border-radius: 4px;

    &.active {
      opacity: 0.3;
    }
  }

  span {
    display: inline-block;
    font-weight: bold;
  }
}

