@import '../../common/styles/saas/variables';

.profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 100%;
  min-height: 550px;
  background-color: $bgLightColor;

  h1 {
    color: $accentColor;

    span {
      color: #fff;
      margin-top: 30px;
    }

  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid $accentColor;
    background-color: $accentColor;
    margin-top: 50px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }
}