.scrollButton {
  position: fixed;
  top: 200px;
  right: 0;
  padding-top: 36px;
  color: #999ac6;
  transition: all .3s ease-out;
  background: none;
  font-size: 18px;
}

.scrollButton:before {
  content: 'ᐱ';
  position: absolute;
  top: 12px;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .5s ease-in;
}

.scrollButton:hover {
  color: #fff;
}

.scrollButton:hover:before {
  transform: rotate(360deg);
}