@import '../../styles/saas/variables';

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  //padding: 8px;
  min-width: 40px;
  min-height: 40px;
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
}

.container button.active {
  background: $buttonErrorBgColor;
  cursor: default;
}

.container button:hover {
  opacity: 0.5;
}

.container button.active:hover {
  opacity: 1;
}

.container button.hidden {
  display: none;
}