@import './variables';

@mixin text($fontFamily, $fontSize, $fontWeight, $lineHeight) {
  font-family: $fontFamily;
  font-size: $fontSize;
  font-weight: $fontWeight;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin flex($direction,$justifyContent,$alignItems,$wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}