//COLORS

$textColor: #9a8f8f;
$textColorLight: #fff;

$bgLightColor: #d2d5dd;
$bgSecondColor: #b8bacf;

$buttonDefaultBgColor: #999ac6;
//$buttonDefaultBgColor: #7c8efd;
$accentColor: #798071;
$hoverColor:#e8ebe4;

//FONTS
