//COLORS

$textColor: #000;
$textColorLight:#fff;

$primaryColor: #3b3b81;

$bgLightColor: rgba(84, 165, 245, 0.53);
$bgSecondColor: rgba(87, 204, 252, 0.71);

$buttonDefaultBgColor: #6d62cb;
//$buttonDefaultBgColor: #7c8efd;
$buttonErrorBgColor: #8531af;

//FONTS
