@import '../../../../common/styles/saas/variables';

.addBlock {
  button {
    padding: 10px 20px;
    font-size: inherit;
    border-radius: 4px;
    margin-left: 5px;
    white-space: nowrap;
    background-color: $buttonErrorBgColor;
  }

  .addDeckBtn {

  }
}