.addBlock{
  button {
    padding: 5px 10px;
    font-size: inherit;
    border-radius: 4px;
    margin-left: 5px;

    &.active {
      opacity: 0.3;
    }
  }
  .addDeckBtn {
    white-space: nowrap;
    margin-left: 20px;
    background-color: #d57689;
  }
}