@import '../../../common/styles/saas/variables';

.form {
  display: flex;

  .submitBtn {
    padding: 10px 16px;
    height: 50px;
    font-size: inherit;
    border-radius: 4px;
    margin-left: 20px;
    background-color: $buttonDefaultBgColor;
  }
}