@import '../../../common/styles/saas/variables';

.tableContainer {
  background-color: inherit;

  table {
    border-collapse: collapse;
    color: $textColor;

    button {
      padding: 8px 12px;
      font-size: 14px;


      &:disabled {
        opacity: 0.5;
      }
    }

      .btnColumn {
        min-width: 240px;
        padding: 0 5px;
        button{
          margin-left: 6px;
          &:first-child {
            margin: 0;
          }
        }
  }

  td, th {
    border: 1px solid rgba(229, 232, 234, 0.36);
    padding: 20px;
    min-width: 40px;
  }

  .tableHeading {
    display: flex;
    justify-content: center;
  }

  thead td {
    font-size: larger;
    background-color:$bgSecondColor;
    color: $textColor;
    text-align: center;
  }

  .deckName {
    text-align: center;
    overflow: hidden;
    max-width: 300px;
    color: #f9fcfb;
    text-decoration: none;
    font-size: larger;

    a,.question {
      display: inline-block;
      color: $textColor;
      text-decoration: none;
      font-size: larger;
      margin: 0;
      padding: 15px 15px;
      width: 100%;
      height: 100%;
      border-radius: 4px;
      overflow: hidden;
      &:hover{
        background-color: $hoverColor;
      }
    }
  }

  tbody tr:hover {
    background: $bgSecondColor;
  }

  .grade {
    color: #c7c7c7;
  }
  }
}