.tableContainer {
  background-color: inherit;
  flex-grow: 1;

  table {
    border-collapse: collapse;

    .myModal {
      //background: rgba(0, 0, 0, 0.5);
    }

    button {
      padding: 5px 10px;
      font-size: inherit;
      border-radius: 4px;

      &:disabled {
        opacity: 0.5;
      }
    }

    .btnColumn {
      button {
        margin-left: 15px;

        &:first-child {
          margin: 0;
        }
      }
    }
  }

  td, th {
    border: 1px solid #c2c3c4;
    padding: 20px;
  }

  thead {
    text-align: center;
    font-size: larger;
    background-color: #7c8efd;
  }

  tbody tr:nth-child(odd) {
    background: #a6b0f3;
  }

  .deckName {
    text-align: center;
    overflow: hidden;

    a {
      color: #f9fcfb;
      text-decoration: none;
      font-size: larger;
    }
  }
  tbody tr:hover {
    background: #7c8efd;
  }
}