.searchBlock {
  width: 300px;
  margin: 20px 0;

  span {
    color: #fff;
  }

  .results {
    color: #d57689;
    font-weight: bold;
  }
.searchLabel {
  color: #fff;
}
  input {
    margin: 10px 0;
  }
}