@import '../../styles/saas/variables.scss';

.selectContainer {
    width: 160px;
    display: flex;
    align-items: center;
    margin-left: 60px;
}

.selectLabel {
    margin-bottom: 5px;
    margin-right: 10px;
}

.select {
    appearance: none;
    text-align: center;
    cursor: pointer;
    min-width: 80px;
    height: 40px;
    background-color: $buttonErrorBgColor;
    color: #99ff99;
    font-size: larger;
    border-radius: 6px;
    line-height: 21px;
    /*border: 1px solid #fff;*/
    border: none;
}

.select:focus {
    outline: none;
    border: 2px solid grey;
}

.option {
    color: black;
    background: $buttonDefaultBgColor;
}


.option:hover {
    transition: all .2s ease-in-out;
}

.option:checked {
    background: $buttonDefaultBgColor;
}



