.decksContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 30px;
  background-color: #8e9bef;
  min-height: 100vh;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
 h1{
   text-align: center;
 }
}