.main {
  position: relative;
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  width: 80%;
  min-height: calc(100vh - 130px);
  margin: 0 auto;

  background-color: #ecefee;

}