.inputContainer {
    display: flex;
    flex-direction: column;
}

.input {
    padding: 5px 5px;
    background: #a5b4ce;
    color: #073807;
    font-size: larger;
}

.input:focus {
    outline: none;
    border: 3px solid #556060;
}

.errorInput {
    border: 3px solid #dd3355;
    background: #d57689;
    color: #99ff99;
}

.error {
    align-self: flex-start;
    color: #dd3355;
    max-height: 80px;
    max-width: 260px;
    margin-bottom: 10px;
}