.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
    padding: 5px 5px;

    background: #a5b4ce;
    color: #073807;
    font-size: larger;
}

.input:focus {
    outline: none;
    border: 3px solid #556060;
}

.superInput {

}

.errorInput {
    border: 3px solid #dd3355;

    background: #d57689;
    color: #99ff99;
}

.error {
    color: #dd3355;
    height: 81px;
    max-width: 260px;
    margin-left: 10px;
}